---
layout: default
---
<div class="sm-col sm-col-6 px2 mb2">
  {{ site.description }}
  <h1 class="h2">Latest Blog Post{% if site.latest_post_count > 1  and site.posts.size > 1 %}s{% endif %}</h1>
  {% for post in site.posts limit:site.latest_post_count %}
  <div>
    <h2 class="h3">
      <a class="black" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    <p>{{ post.excerpt }}</p>
    <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
  </div>
  {% endfor %}
  <a href="{{ "blog/" | prepend: site.baseurl }}">More posts...</a>
</div>
<div class="sm-col sm-col-6 px2">
  <div>
    <h1 class="h2 mt0">Links</h1>
    <ul class="list-reset">
      <li><a href="#" class="button block button-transparent">First Link</a></li>
      <li><a href="#" class="button block button-transparent">Second Link</a></li>
    </ul>
  </div>
  <div>
    <h1 class="h2 mt0">More Links</h1>
    <ul class="list-reset">
      <li><a href="#" class="button block button-transparent">Another First Link</a></li>
      <li><a href="#" class="button block button-transparent">Another Second Link</a></li>
    </ul>
  </div>
</div>
