<header>
  <nav class="container">
    <div class="clearfix">
      <div class="sm-col">
        <a class="button py2 button-transparent" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>
      <div class="sm-col-right">
        {% for item in site.nav_items %}
        <a class="button py2 button-transparent" href="{% if item.internal %}{{ item.href | prepend: site.baseurl }}{% else %}{{ item.href }}{% endif %}">{{ item.name }}</a>
        {% endfor %}
      </div>
    </div>
  </nav>
</header>
